@import '~prismjs/themes/prism-okaidia.css'



.theme-default-content p code ,.theme-default-content li code
    font-weight bold
    color #F26618 !important

    
.theme-default-content p strong, .theme-default-content li strong
    font-weight bold
   


blockquote
    border-left 5px solid #2673bf !important

blockquote p
    font-weight bold
    color #000000 !important
    font-size:130%