@import '~prismjs/themes/prism-okaidia.css'



.theme-default-content p code
    font-weight bold
    color #F26618 !important

    
.theme-default-content p strong
    font-weight bold
    color #373659 !important